<div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->


        <!-- Main content -->
        <section class="content" id="pagecontent">

            <div class="row " id="judgementlabelrow">
                <div class="col-sm-9">
                    <div class="box box-success">

                        <div class="box-body">
                            <ul class="timeline">
                                <!-- timeline time label -->
                                <li class="time-label">
                                    <span class="bg-green">
             		 	            10 Feb. 2014
             		 	        </span>
                                </li>
                                <li class="firstitem">
                                    <i class="fa fa-bullhorn bg-green"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                        <h3 class="timeline-header"><a href="#">Connecting ...</a> ...</h3>
                                        <div class="timeline-body"> Attempting to reconnect ...
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="disableoverlay overlay">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>

                    </div>
                </div>
                <div class="col-sm-3">

                    <button id="seebutton" class="btn btn-block btn-success btn-lg selectbutton">
                    <i class="fa fa-camera-retro fa-3x"></i>
                    <span class="buttonsubtext"> See </span>
                  </button>

                    <button id="dancebutton" class="btn btn-block btn-success btn-lg selectbutton">
                  <i class="fa  fa-music fa-3x"></i>
                  <span class="buttonsubtext"> Dance </span>
                </button>

                    <button id="wavebutton" class="btn btn-block btn-success btn-lg selectbutton">
                      <i class="fa  fa-hand-stop-o fa-3x"></i>
                      <span class="buttonsubtext"> Wave </span>
                     </button>

                    <div class="   ">
                        <!-- /.box-header -->
                        <button class="btn btn-block btn-success btn-lg selectbutton" id="lightbutton">
                            <i class="fa  fa-lightbulb-o fa-3x"></i>
                            <span class="buttonsubtext"> LED light </span>
                        </button>
                        <input id="cp8" type="text" class="form-control" value="green" />
                        <br/>

                        </br/>
                    </div>

                    <div class="box box-success">
                        <div class="box-header with-border">
                            Toggle listening.
                        </div>
                        <div class="box-body">
                            <input type="checkbox" name="great" class="switchbutton" id="listening">
                        </div>
                    </div>
                </div>
            </div>





            <!-- /.row -->
        </section>
        <div class="modal-success modal fade bs-example-modal-lg" id="updatemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title videotitle modaltext" id="updatetitle">Modal title</h4>
                    </div>
                    <div class="modal-body">

                        <div id="updatemessage" class="modaltext">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="updatebutton" type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->
