<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->

	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
	            Timeline
	            <small>Timeline of events from your TJBot</small>
	          </h1>

	</section>
	<section class="content">
		<ul class="timeline">
			<!-- timeline time label -->
			<li class="time-label">
				<span class="bg-blue">
            10 Feb. 2014
        </span>
			</li>
			<li>
				<i class="fa fa-envelope bg-blue"></i>
				<div class="timeline-item">
					<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
					<h3 class="timeline-header"><a href="#">You</a> ...</h3>
					<div class="timeline-body"> ... Content goes here
					</div>
				</div>
			</li>
			<li>
				<i class="fa fa-user bg-aqua"></i>
				<div class="timeline-item">
					<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
					<h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
				</div>
			</li>
			<!-- END timeline item -->
			<!-- END timeline item -->
			<li>
				<i class="fa fa-clock-o bg-gray"></i>
			</li>

		</ul>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
